body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.title {
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px !important;
  margin: 10px !important;
  border-radius: 5px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.container {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.backdrop {
  background: white;
  opacity: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}*/

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('images/background.jpeg');
}

.modal-title {
  padding-bottom: 17px;
  text-align: center !important;
  font-weight: bold !important;
  font-size: 20px;
}

.modal-description {
  padding-bottom: 30px !important;
  font-style: italic;
}

.modal-header, .modal-footer {
  padding-bottom: 0px !important;
  justify-content: center;
  border: none !important;
}

.modal-body {
  text-align: center;
  padding-bottom: 70px !important;
}

.close-button {
  justify-content: right !important;
}